button img{
height:30px;
}
button{
    border:0;
    background-color:white;

}
.post-container{
    height: 30vh;
    width:10px;
    display: flex;
    flex:1fr 1fr 1fr;
    border:5px solid #eee;
    box-sizing: border-box;
    margin: 0;
  margin: 10px 0;
  padding: 0 10%;
  justify-items: center;
  overflow: hidden;
}

.post-container:hover{
    background-color: black;
    
}
span{
    display: inline;
    margin: 10px;
}
p{
    color:rgb(87, 81, 81);
    display: inline;
}

.flexo{
    display: flex;
    flex-direction: column;
}
#btn{
    background-color: white;
    color:white;
}
#btn:hover{
    background-color: black;
    color:white;
}