@import url("https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap");
body {
  --grey: #fafafa;
  margin: 0;
  font-family: sans-serif;
}

body a {
  text-decoration: none;
}

body a:visited {
  color: #0095f6;
}

.logo-full {
  margin: 0;
  color: black;
  font-size: 4em;
  font-family: 'Grand Hotel', cursive;
}

.user-image {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  border-radius: 1500px;
  height: 50px;
  width: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.user-image img {
  position: relative;
  left: 1.8%;
  top: 2.3%;
  width: 95%;
  border-radius: 500px;
  border: 0.1em solid white;
}

.form-page {
  background: var(--grey);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container {
  text-align: center;
  background: white;
  height: 70vh;
  width: 20%;
  min-width: 340px;
  margin: 50px auto;
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid #dadada;
  color: #8e8e8e;
}

.form-container form {
  width: 100%;
  font-size: 15px;
}

.form-container form h4 {
  font-size: 1.1em;
}

.form-container form hr {
  border: 0;
  border-top: 1px solid #dadada;
}

.form-container form input {
  background: var(--grey);
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border: 1px solid #dadada;
  padding-left: 10px;
  border-radius: 4px;
}

.form-container form button {
  width: 100%;
  height: 30px;
  background: #0095f6;
  color: white;
  margin: 20px 0;
  border: none;
  border-radius: 4px;
}

.alt-link {
  background: white;
  width: 20%;
  min-width: 400px;
  border: 1px solid #dadada;
  margin: 0 auto;
  padding: 15px 0 10px 0;
  text-align: center;
}

.nav {
  padding: 5px 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #dadada;
}

.nav input {
  padding: 5px;
  height: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid #dadada;
  border-radius: 4px;
  text-align: center;
}

.user-page {
  background: var(--grey);
}

.user-info .info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 50px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 1.2vw;
  border-bottom: 1px solid #dadada;
}

.user-info .info-header .info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 100px;
}

.user-info .info-header .info span {
  padding-right: 20px;
}

.post-container {
  display: -ms-grid;
  display: grid;
  margin: 10px 0;
  padding: 0 10%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  min-width: 970px;
  overflow: hidden;
}

.post-container .post {
  position: relative;
  text-align: center;
  padding: 15px;
  width: 90%;
  max-width: 500px;
  height: 20vw;
}

.post-container .post #btn {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  background: #000;
  position: absolute;
  top: 150px;
  left: 150px;
  margin-right: 50px;
}

.post-container .post #btn:hover {
  background: #fff;
  color: #000;
}

.post-container .post:hover {
  background: rgba(0, 0, 0, 0.445);
}

.users-container {
  margin: 20px auto;
  width: 50%;
  max-width: 500px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1px;
  min-height: 90vh;
  border: 1px solid #e7e7e7;
}

.users-container .user-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  background: white;
  padding: 10px 0;
}

.users-container .user-item:hover {
  background: #f3f3f3;
}

.users-container .user-item button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 80%;
  height: 80%;
  border-radius: 5px;
}

.users-container .user-item button:hover {
  -webkit-box-shadow: 1px 1px 5px #b1b1b1;
          box-shadow: 1px 1px 5px #b1b1b1;
}

.users-container .user-item button:focus {
  outline: none;
}

.users-container .user-item button.Follow {
  background: #4476ff;
  color: white;
}

.users-container .user-item button.Unfollow {
  background: #bbbbbb;
}

@media only screen and (max-width: 970px) {
  .nav input {
    display: none;
  }
  .user-info .info-header {
    font-size: 2vw;
  }
  .user-info .info-header .info {
    margin-left: 50px;
  }
  .post-container {
    padding: 0;
    min-width: 200px;
    font-size: 0.7em;
  }
  .post-container .post #btn {
    top: 60px;
    left: 120px;
  }
}
/*# sourceMappingURL=main.css.map */