@import url("https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap");
body {
  --grey: #fafafa;
  margin: 0;
  font-family: sans-serif;
}

.logo-full {
  margin: 0;
  color: black;
  font-size: 4em;
  font-family: 'Grand Hotel', cursive;
}

.user-image {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  border-radius: 1500px;
  height: 50px;
  width: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.user-image img {
  position: relative;
  left: 2.5%;
  top: 3%;
  width: 95%;
  border-radius: 500px;
  border: 2px solid white;
}

.form-page {
  background: var(--grey);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container {
  text-align: center;
  background: white;
  height: 70vh;
  width: 20%;
  min-width: 340px;
  margin: 50px auto;
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid #dadada;
  color: #8e8e8e;
}

.form-container form {
  width: 100%;
  font-size: 15px;
}

.form-container form h4 {
  font-size: 1.1em;
}

.form-container form hr {
  border: 0;
  border-top: 1px solid #dadada;
}

.form-container form input {
  background: var(--grey);
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border: 1px solid #dadada;
  padding-left: 10px;
  border-radius: 4px;
}

.form-container form button {
  width: 100%;
  height: 30px;
  background: #0095f6;
  color: white;
  margin: 20px 0;
  border: none;
  border-radius: 4px;
}

.alt-link {
  background: white;
  width: 20%;
  min-width: 400px;
  border: 1px solid #dadada;
  margin: 0 auto;
  padding: 15px 0 10px 0;
  text-align: center;
}

.nav {
  padding: 5px 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #dadada;
}

.nav input {
  padding: 5px;
  height: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid #dadada;
  border-radius: 4px;
  text-align: center;
}

.user-page {
  background: var(--grey);
}

.user-info .info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 1.2vw;
}

.user-info .info-header .info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 100px;
}

.user-info .info-header .info span {
  padding-right: 20px;
}

.post-container {
  display: -ms-grid;
  display: grid;
  margin: 10px 0;
  padding: 0 10%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  min-width: 970px;
  overflow: hidden;
}

.post-container img {
  padding: 15px;
  width: 100%;
  max-width: 500px;
  height: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-container img:hover {
  opacity: 0.5;
}

.view-post {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.493);
  width: 100%;
  height: 100vw;
}

.view-post .view-post-container {
  margin: 80px auto;
  background: white;
  width: 70%;
  max-width: 1000px;
  height: 650px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr 4fr 1.2fr 1fr;
      grid-template-rows: 1fr 4fr 1.2fr 1fr;
}

.view-post .view-post-container .image {
  border-right: 1px solid #dadada;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
}

.view-post .view-post-container .image img {
  width: 20vw;
}

.view-post .view-post-container .author {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-bottom: 1px solid #dadada;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.view-post .view-post-container .author span {
  margin: 0 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.view-post .view-post-container .comments {
  padding: 10px;
  font-size: 1vw;
  border-bottom: 1px solid #dadada;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

@media only screen and (max-width: 970px) {
  .nav input {
    display: none;
  }
  .user-info .info-header {
    font-size: 2vw;
  }
  .user-info .info-header .info {
    margin-left: 50px;
  }
  .post-container {
    padding: 0;
    min-width: 200px;
  }
  .post-container img {
    padding: 0;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */